.user__controls {
  align-items: center;
    margin: 1rem 5rem;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
  }
  
  .user__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
    font-family: 'Brush Script MT', cursive;
  }
  
  .user__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
    font-family: 'Brush Script MT', cursive;
  }

  .user__control select {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
    font-family: 'Brush Script MT', cursive;
  }
  
  .user__actions {
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    cursor: pointer;
    padding: 1rem 2rem ;
    margin-right: 1rem;
    color:burlywood;
  
  
  }

  .user__actions button {
    text-align: center;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 5px solid #c8c7c9;
    background-color: #f0e3f8;
    color:burlywood;
    border-radius: 12px;
    margin-right: 1rem;
    font-family: 'Brush Script MT', cursive;
  
  }
  .abc{
  margin-top: 5rem;
  background-color: #3cc4a6;
  padding: 1rem;
  width: 40rem;
  max-width: 70%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);}

  .custom {
    text-align: center;
    font-size: .8cm;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 5px solid #d6f3ee;
    background-color: #22ccbe;
    color:rgb(250, 249, 248);
    border-radius: 12px;
    margin-right: 1rem;
    font-family:  'Courier New', Courier, monospace;
  
  }
  .title{
    position: fixed;
    background: url('../cool-background.png');
    font-size: 2.5rem;
    color: rgb(51, 38, 38);
    font-family:  'Courier New', Courier, monospace;
    float: right;
    padding: 0 10%;
    height: 4.5rem;

  }
  