header {
  width: 100%;
  height: 4.5rem;
  background: url("../../cool-background.png");
  padding: 0 10%;
  font-family: "Brush Script MT", cursive;
  position: sticky;
  top: 0;
}

header nav {
  height: 100%;
}

header ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: left;
  font-family: "Brush Script MT", cursive;
}

header li {
  margin: 0 1rem;
  width: 5rem;
  cursor: pointer;
  font-family: "Brush Script MT", cursive;
}

header a {
  color: white;
  text-decoration: none;
  font-family: "Brush Script MT", cursive;
}

header a:hover,
header a:active,
header a.active {
  color: #95bcf0;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #95bcf0;
  font-family: "Brush Script MT", cursive;
}

header divas {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: right;
  font-family: "Brush Script MT", cursive;
}
